<h3>You have been assigned to new IRB applications</h3>

<p>Dear <%= @user.first_name %>,</p>

<p>You have been assigned to new IRB applications!  Please log in and review them <%= link_to "here", applications_new_apps_url %></p>
