<h3>A new application has been submitted</h3>

<p><%= @chair.first_name %>,</p>

<p>A new application "<%= @document.project_title %>" by <%= @user.first_name + " " + @user.last_name %> has been submitted. Please log in to check it.</p>
