<h3>Your document has been submitted</h3>

<p><%= @user %>,</p>

<p>Thank you for submitting your application the the IRB. The board has been notified and your document will be reviewed as soon as possible </p>
<p>An email will be sent as soon as your application is reviewed</p>
</br>
<p>Thank you!</p>
<p>IRB Board members</p>
