<h3>Your document has been reviewed</h3>

<p><%= @user %>,</p>

<p>Your document has been reviewed by the board.</p>
<p>Sign into the IRB application to view your reviewed application!</p>
</br>
<p>Thank you!</p>
<p>IRB Board members</p>
