<p>Dear <%= @chair.first_name %>,</p>

<h3>A currently onging application is going to reach its deadline in one week: <%= @document.end_date %></h3>

<p>This same email has been sent to the investigator and should resubmit shortly.<p>
