/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
 @import 'bootstrap';
body, html {
  padding: 0;
  margin: 0;
}
 //Target the alert notice class and hide it
 .flash-container {
     position: absolute;
     width: 25%;
     z-index: 999;
 }
 .alert-notice, .alert-alert {
     text-align: center;
     background: white;
     border-color: gray;
     color: black;
 }
 .logo {
   height: 100px;
 }
 .navbar {
   height: 150px;
   background-color: rgba(0,70,127,1);
 }
 .navbar-default .navbar-nav > li{
     color: black;
     margin-top: 50px;
     font-size: 14pt;
     transition: 0.4s;
 }
 .navbar-default .navbar-nav > li > a {
   color: white;
 }
 nav .nav > li > a {
  margin-right: 30px;
  padding-right: 0px;
}
 .navbar-default .navbar-nav > li > a:hover {
   color: green;
 }
 a:hover {
   background-color: rgba(0,0,0,0);
 }
 .comment-time {
   text-align: right;
   color: gray;
 }
 .txtComment {
   margin-top: 20px;
 }
